# Diretório de persistência do banco de dados vetorial
persistent_vector_db/

# Ambientes virtuais
venv/
env/
.env

# Arquivos de cache Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos de log
*.log

# Arquivos de configuração local
.env

# Diretórios e arquivos gerados pelo VSCode
.vscode/

# Arquivos de distribuição / packaging
dist/
build/
*.egg-info/

# Arquivos de teste e cobertura
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# pyenv
.python-version

# Arquivos temporários
*.tmp
*.bak
*.swp
