fastapi
langchain
langchain-community
langchain-openai
openai
faiss-cpu # Ou "faiss-gpu", caso possua uma GPU compatível.
python-dotenv
uvicorn
pydantic
pytest
httpx
python-multipart
pypdf
python-docx
openpyxl
beautifulsoup4
pandas
chardet
nltk